{{ define "main" }}
<meta property="og:image" content="{{ .Params.featureImage | absURL }}">
<meta property="og:image:type" content="image/png">
<section class="page-header blog-single-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>
          {{ .Title }}
        </h2>
        <div class="post-meta">
          <img src="{{ .Params.featureImage | absURL }}" style="margin-left:-30px;width:390px" alt="feature-image" />
        </div>
        <div class="post-meta">
          <ul>
            <li>
              <img src="{{ .Params.authorThumb | absURL }}" alt="author-thumb" />
              <h5>
                {{ .Params.author }}
              </h5>
            </li>
            <li></li>
            <li>
              <b>Date Posted</b><br/>
              {{ .PublishDate.Format "January 2, 2006" }}
            </li>
            <li></li>
            <li>
              {{ partial "readtime.html" .}}
            </li>
          </ul>
          <br/>
          {{ partial "tags.html" .}}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="blog-single">
  <div class="container"  style="Width:100%">
      <div style="Width:100%">
        <article class="blog-single-post" style="padding:30px">
          {{ .Content }}
        </article>
      </div>
      <div>
        {{ partial "ads.html" .}}
      </div>
  </div>
  <div class="container" style="padding:50px">
    {{ template "_internal/disqus.html" . }}
  </div>
</section>
{{ end }}